<div style="width: 80%; margin: 0 auto;">
  <h1>Patient name: <%= @patient.name %> </h1>

  <hr>

  <table style="width: 50%; text-align: center; border: 1px solid black">
    <thead>
      <tr>
        <th style="border-bottom: 1px solid black">Doctor Name</th>
        <th style="border-bottom: 1px solid black">Appointment Time</th>
      </tr>
    </thead>
    <tbody>
      <% @patient.appointments.each do |appointment| %>
        <tr>
          <td><%= link_to appointment.doctor_name, doctor_path(appointment.doctor) %></td>
          <td><%= appointment.date_time %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>