<h1>Patient's Page</h1>
<hr />
<h2>
  <%= @patient.name %> has the following appointments:
</h2>

<ul>
  <% @patient.appointments.each do |appointment| %>
    <li>
      <%= link_to appointment.doctor_name, doctor_path(appointment.doctor) %>
      on <%= appointment.date %>
    </li>
  <% end %>
</ul>
