
<h3>Appointments:</h3>
<% @doctor.appointments.each do |appointment| %>
  <p><%= appointment.date_translate %> <%= link_to appointment.patient.name, patient_path(appointment.patient) %></p>
<% end %>
