<h1><%=@doctor.name%> - <%=@doctor.department%></h1>

<h3>Appointments:</h3>

<%@doctor.appointments.each do |appointment|%>

<p>  <%=appointment.human_time%>: <%=link_to appointment.patient.name, patient_path(appointment.patient)%> </p>

<%end%>
