<h1>Doctor Profile</h1>

<%= @doctor.name %>
<br>Department: <br>
<%= @doctor.department%><br><p>
Doctor Appointments:
<br>
<% @doctor.appointments.each do |app| %><br>
<%= app.appointment_datetime.strftime("%B %d, %Y at %H:%M") %><br>
<%= link_to app.patient.name, patient_path(app.patient) %><br>
</p>

<%end%>
