<h1><%= @doctor.name %></h1>

<% @doctor.appointments.each do |appointment| %>
<li>
Time: <%= appointment.appointment_datetime.strftime('%B %d, %Y at %H:%M') %>
<br>
Patient: <%= link_to appointment.patient.name, appointment.patient %>
</li>
<% end %>